*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.
/app/
/app/libs/
/app/src/
/app/.gitignore
/app/build.gradle
/app/proguard-rules.pro
/gradle/
/.gitignore
/build.gradle
/gradle.properties
/gradlew
/gradlew.bat
/local.properties
/settings.gradle
